.expenseInputBoxes{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.Content{
   width:90%;
    padding: 20px;
    background-color: var(--bg-cards);
     border-radius: 6px;
    border: 1px solid rgba(225, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.expenseInputBoxes h2{
    margin-bottom: 15px;
  color: var(--text-main);
}

.expenseInputBoxes .inputBoxes{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-template-rows: auto;
}

.expenseInputBoxes .inputBoxes .inputBox{
    width: 100%;
    max-width: 300px;
    height: fit-content;
   
}

.inputBoxes .inputBox input,select{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    color: var(--text-secondary);
    border:2px solid rgb(128, 128, 128,0.4);
    box-shadow: 0 0 10px #ffff;
    font-size: 0.9rem;
    transition: all ease 0.3s;
    border-radius: 5px;
    outline: none;
    
}

.inputBoxes .inputBox input:focus,select:focus{
    border-color: var(--color-primary);
}

.inputBoxes .inputBox input::placeholder{
    font-weight: 600;
}
