body{
    background-color: var(--bg-color);
    overflow-x: hidden;
}

header{
    position: sticky;
    width: 100%;
    text-align: center;
    padding: 1rem 0.2rem;
    box-shadow: 0 0 20px rgba(79, 70, 229,0.5); 
}

.siteName{
    font-size:clamp(1.2rem,1.5rem,2rem);
    font-weight: 600;
    color: var(--text-main);
}

.siteName span{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #ffff;
    width: clamp(1.2rem,1.7rem,2rem);
    aspect-ratio: 1;
    border-radius: 4px;
}